body{
    width:1400px;
    background-color: hsl(207, 33%, 95%);
    
}
header{
    width:1440px;
    height:100px;
}
.logo{
    float: left;
    margin: 50px 00px 0px 80px;
}
.link{
    display: flex;
    justify-content: flex-end;
   align-items:center;
   height:100px;
   
}
a{
    margin: 70px 0px 0px 40px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.maincontent{
    width:1400px;
    height:500px;
    display: flex;
}
.access{
   width:600px;
   background-color:hsl(255deg 43% 28%);
   color: white;
   font-size:20px;
   padding:1px;
   margin: 70px;
   border-radius: 30px;
   text-align: center;
   letter-spacing: 0.5px;
 
}
.mail{
    display: flex;
    justify-content:flex-start;
    margin: 75px;
    
}
#email{
    width:350px;
    height:50px; 
    text-align: center;
    font-size: larger;
}
button{
    background-color: hsl(255deg 43% 28%);
    color:white;
    width:160px;
    height:50px; 
    font-size: 20px;
    border-style: none;
    border-radius: 10px;
    margin: 5px;
}
.img img{
    height: 420px;
    width:350px;
   margin-left: 170px;
   margin-top:100px;
}
.footer{
    width:1440px;
    height: 100px;
    margin-top: 170px;
}

.build{
    color:hsl(255deg 43% 28%);
    font-size: 50px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 75px;
}
.commune{
    font-size: 20px;
    margin: 75px;
}
#learn{
color:white;
text-decoration: underline;
}
#companies{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(70, 72, 74);
    font-size: 18px;
    margin: 50px;
}
.footimg{
    margin: 0px 0px 10px 50px;
} 
.join{
    background-color: hsl(255deg 43% 28%);
    color:white;
    margin: 70px 0px 0px 40px;
}